HELP.md
.gradle
/build/
/**/build/
!gradle/wrapper/gradle-wrapper.jar
*.sw[po]
~$*.xlsx
*.log
.~*.xlsx#
docker-conf/
coverage/
yarn-error.log

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/
/**/out/

node_modules
client/build/
.DS_Store
jact/src/main/resources/public/
yarn-error.log
cypress/plugins
cypress/screenshots/*
cypress/support
cypress/videos

/local/
/jact-application/src/main/resources/public/
client/cypress/screenshots/
client/coverage/

### Certs ###
*.crt
*.key
*.pem
*.csr
*.srl
/**/tmp/
/**/certs/

mysql-data/*
!/.env
.idea/dataSources/
